/* common */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #222;
    color: #fff;
    padding: 20px;
}

h1 {
    font-size: 2em;
    margin: 0;
}

h2 {
    font-size: 1.5em;
    margin: 0;
}

h3 {
    font-size: 1.2em;
    margin: 0;
}

h4 {
    font-size: 1em;
    margin: 0;
}

nav {
    margin-top: 20px;
    list-style: none;
    display: flex;
    justify-content: center;
}

nav a {
    padding: 10px;
    text-decoration: none;
    color: #fff;
}

main {
    margin-top: 20px;
}


aside {
    background-color: #eee;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

article {
    /*border: 1px solid #ccc;*/
    padding: 20px;
}

section {
    padding: 20px;
    /*margin: 10px;*/
}

hr {
    margin: 5px 0 10px 0;
}

.comment {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.comment h3 {
    font-size: 1.2em;
}

div#form {
    margin: 0 auto;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
}

input[type="text"],
input[type="email"],
textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

textarea {
    height: 100px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0062cc;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

li a {
    color: #007bff;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

/* home (whoami) */
table {
    text-align: left;
}

table.common th {
    font-size: 1.1em;
    padding: 5px 20px;
}
table.common td {
    padding: 5px 20px;
}

table.contact td{
    padding: 0 20px 0 5px;
}

img#profile {
    width: 200px;
    margin: 0 20px 0 0;
}

p#portfolio{
    padding: 10px 0 0 20px;
}

h2 i {
    margin: 0 10px 0 5px;
}

table li{
    font-size: 1em;
}