section{
    width: 70%;
    margin: 0 auto;
    padding: 10px;
}

section#create {
    display: flex;
    justify-content: left;
    display: none;
}

div#admin{
    display: none;
    justify-content: flex-end;
    margin: 0 0 10px 0;
}

section i {
    font-size: 2em;
}

section div i {
    font-size: 1em;
    margin-left: 10px;
}

section div i:hover {
    z-index: 2;
    color: lightblue;
}

div#posts{
    z-index: 1;
    height: auto;
    padding: 0 40px;

    border-width: 1px;
    border-style: solid;
    border-color: #222222;
    border-radius: 10px;

}

section div#posts:hover {
    background-color: bisque;
    cursor: pointer;
}

section div#posts h2{
    margin-bottom: 0;
}

section div#summary {
    font-size: 0.7em;
    height: 200px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;

    /*background-color: lightsteelblue;*/
    overflow: hidden;

    border-width: 1px;
    border-style: dashed;
}