section{
    width: 70%;
    margin: 0 auto;
    padding: 10px;
}

div#admin{
    display: none;
    justify-content: flex-end;
    margin: 0 0 10px 0;
}

i {
    font-size: 1em;
    margin-left: 10px;
}

i:hover {
    z-index: 2;
    color: lightblue;
}

div#posts{
    z-index: 1;
    height: auto;
    padding: 0 40px;

    border-width: 1px;
    border-style: solid;
    border-color: #222222;
    border-radius: 10px;

}

section div#posts:hover {
    background-color: lightcoral;
}

section div#summary {
    width: 100%;
    font-size: 0.5em;
    height: 100px;

    background-color: #007bff;
    overflow: hidden;
}