<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>DBOO'S_LOG</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">

    <script th:src="@{/common.js}"></script>
    <script src="https://kit.fontawesome.com/6d9053e08f.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

</head>

<header th:fragment="header">
    <h1>DBOO'S_LOG</h1>
    <nav>
        <a th:href="@{/}">WHOAMI</a>
        <a th:href="@{visit}">VISIT</a>
        <a th:href="@{post}">POST</a>
    </nav>
</header>


<footer th:fragment="footer">
    <p>Copyright &copy; 2023 Daehwan Boo</p>
    <p>served by pod deployed on on-premise k8s cluster, hostname : <span th:text="${hostname}"></span></p>
</footer>



</html>