<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>DBOO'S_LOG</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">

    <script th:src="@{/js/common.js}"></script>
    <script src="https://kit.fontawesome.com/6d9053e08f.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

</head>

<header th:fragment="header">
    <div id="header-container">
        <h1>DBOO'S_LOG</h1>
        <div id="header-user">
            <i class="fa-solid fa-user-plus" onclick="window.location.href='/sign-up'"></i>
            <i id="header-login" class="fa-solid fa-right-to-bracket" onclick="window.location.href='/login'"></i>
            <i id="header-logout" class="fa-solid fa-right-from-bracket" onclick="signOut()"></i>
        </div>
    </div>
    <nav>
        <a th:href="@{/}">WHOAMI</a>
        <a th:href="@{/visit}">VISIT</a>
        <a th:href="@{/post}">POST</a>
    </nav>
</header>


<footer th:fragment="footer">
    <p>Copyright &copy; 2023 Daehwan Boo</p>
    <p>served by pod deployed on on-premise k8s cluster, hostname : <span th:text="${hostname}"></span></p>
</footer>



</html>