<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>DBOO'S_LOG</title>
    <link rel="stylesheet" th:href="@{/style.css}">
    <script th:src="@{/common.js}"></script>
</head>

<header th:fragment="header">
    <h1>DBOO'S_LOG</h1>
    <nav>
        <a th:href="@{/}">HOME</a>
        <a th:href="@{resume}">WHOAMI</a>
        <a th:href="@{post}">POST</a>
        <a th:href="@{visit}">VISIT</a>
    </nav>
</header>


<footer th:fragment="footer">
    <p>Copyright &copy; 2023 Daehwan Boo</p>
    <p>served by pod deployed on on-premise k8s cluster, hostname : <span th:text="${hostname}"></span></p>
</footer>



</html>