<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>DBOO'S_LOG</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
<div class="container">
    <header th:replace="~{fragments::header}"></header>
    <main>
        <article>
            <h2>My Latest Blog Post</h2>
            <p>This is my latest blog post about HTML and CSS. I'm going to share some best practices for writing HTML and CSS code that will make your blog posts look great.</p>
            <aside>
                <h3>This is an aside</h3>
                <p>This aside is a great place to put additional information that is related to the main content of the blog post, but not essential.</p>
            </aside>
            <p>First, it's important to use semantic HTML elements. Semantic elements are HTML elements that have a specific meaning, such as aaa. Using semantic elements makes your code more readable and understandable for both humans and machines.</p>
            <p>Second, use descriptive names for your CSS classes and IDs. When you give your CSS classes and IDs descriptive names, it makes it easier to understand what they are for and how they are used. For example, instead of using a class name like <code>.class1</code>, you could use a name like <code>.header-container</code>.</p>
            <p>Third, use consistent naming conventions. When you use consistent naming conventions for your HTML and CSS elements, it makes your code more readable and maintainable. For example, you could decide to always use lowercase letters for your HTML element names and hyphens for your CSS class names.</p>
            <p>Fourth, comment your code. Commenting your code is a great way to explain what your code is doing and why. This can be especially helpful for complex or difficult-to-understand code.</p>
            <p>Fifth, use a CSS preprocessor. A CSS preprocessor is a tool that allows you to write more concise and maintainable CSS code. Some popular CSS preprocessors include SASS, LESS, and Stylus.</p>
            <p>Finally, test your code. Before you publish your blog post, it is important to test your code to make sure that it works as expected. You can do this by using a web browser or a code editor with a built-in debugger.</p>
        </article>
    </main>



    <footer th:replace="~{fragments::footer}"></footer>
</div>


</body>
</html>