<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments::head}"></head>
<link rel="stylesheet" th:href="@{/css/login.css}">


<body>
<div class="container">
    <header th:replace="~{fragments::header}"></header>

    <main>
        <section>
            <input id="email" type="text" placeholder="이메일" autofocus="autofocus">
            <input id="password" type="text" placeholder="비밀번호">
            <input id="submit" type="submit" value="로그인">
        </section>

    </main>

    <footer th:replace="~{fragments::footer}"></footer>
</div>


</body>
<script>

    let button = document.getElementById('submit');
    button.addEventListener("click", signIn);

    let passwordInput = document.getElementById('password');

    passwordInput.addEventListener("keyup", (event) => {
        if(event.key=="Enter"){
            signIn();
        }
    })

    function signIn() {
        button.removeEventListener("click", signIn);
        let email = document.getElementById('email').value;
        let password = document.getElementById('password').value;
        login(email, password).then(
            () => window.location.href = "/"
        ).catch(
            () => button.addEventListener("click", signIn)
        );
    }

</script>
</html>