<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments::head}"></head>

<body>

<div class="container">
    <header th:replace="~{fragments::header}"></header>

    <h2>Posts</h2>
    <section id="posts">
        <ul class="post-list">
            <li><a href="#">This is my first post</a></li>
            <li><a href="#">This is my second post</a></li>
            <li><a href="#">This is my third post</a></li>
        </ul>
    </section>

    <footer th:replace="~{fragments::footer}"></footer>
</div>

</body>
</html>