<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments::head}"></head>
<link rel="stylesheet" th:href="@{/css/post.css}">
<link rel="stylesheet" th:href="@{/css/render-md.css}">

<body>

<div class="container">
    <header th:replace="~{fragments::header}"></header>

    <main>
        <section>
            <h1 id="title"></h1>
            <div id="content" class="render-md"></div>
        </section>
    </main>

    <footer th:replace="~{fragments::footer}"></footer>
</div>

</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    var post = /*[[${post}]]*/ 'post';
    /*]]>*/
    document.getElementById('title').innerHTML = post.title;
    document.getElementById('content').innerHTML = marked.parse(post.content);
</script>
</html>