<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments::head}"></head>
<link rel="stylesheet" th:href="@{/css/post-edit.css}">
<link rel="stylesheet" th:href="@{/css/render-md.css}">

<body>
<div class="container">
    <header th:replace="~{fragments::header}"></header>

    <main>
        <section>
            <input id="submit" value="저장하기" type="submit" th:attr="data-post_id=${post.id}">
            <textarea type="text" id="title" placeholder="제목" th:text="${post.title}"></textarea>
            <div id="float-div">
                <div class="left">
                    <textarea type="text" id="content" placeholder="본문" th:text="${post.content}"></textarea>
                </div>
                <div id="render-md" class="right">
                    <p>render!</p>
                </div>
            </div>
        </section>

    </main>

    <footer th:replace="~{fragments::footer}"></footer>
</div>


</body>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        render();
    });

    document.getElementById('content').addEventListener("input", () => {
        render();
    });

    function render() {
        let source = document.getElementById('content').value;
        let target = document.getElementById('render-md');
        renderMarkdown(source, target);
    }


    let button = document.getElementById('submit');
    button.addEventListener("click", () => savePost(button.dataset.post_id));

    function savePost() {
        button.removeEventListener("click", savePost);
        let uri = '/api/post';
        let id = document.getElementById('submit').dataset.post_id;
        let title = document.getElementById('title').value;
        let content = document.getElementById('content').value;
        let data = {
            'id' : id,
            'title' : title,
            'content' : content
        };

        patchData(uri, data)
            .then(() => {
                alert("저장 성공");
                location.href='/post';
            }).catch(() =>{
            button.addEventListener("click", savePost)
        });

    }

</script>
</html>