<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments::head}"></head>
<link rel="stylesheet" th:href="@{/css/post-edit.css}">


<body>
<div class="container">
    <header th:replace="~{fragments::header}"></header>

    <main>
        <section>
            <div class="left">
                <table>
                    <tbody>
                        <tr>
                            <td>
                                <input id="submit" value="저장하기" type="submit">
                                <textarea type="text" id="title" placeholder="제목"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <textarea type="text" id="content" placeholder="본문"></textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="right" id="renderMarkdown">
                <p>render!</p>
            </div>
        </section>

    </main>

    <footer th:replace="~{fragments::footer}"></footer>
</div>


</body>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        renderMarkdown();
    })

    document.getElementById('content').addEventListener("input", () => {
        renderMarkdown();
    });

    function renderMarkdown() {
        let target = document.getElementById('content');
        document.getElementById('renderMarkdown').innerHTML = marked.parse(target.value);
    }

    let button = document.getElementById('submit');
    button.addEventListener("click", () => createPost());

    function createPost() {
        button.removeEventListener("click", createPost);
        let uri = '/api/post';
        let title = document.getElementById('title').value;
        let content = document.getElementById('content').value;
        let data = {
            'title' : title,
            'content' : content
        };

        // create post
        postData(uri, data)
            .then(() => {
                alert("저장 성공");
                location.href='/post';
            }).catch(() =>{
            button.addEventListener("click", createPost)
        });

    }

</script>
</html>