<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments::head}"></head>

<body>
<div class="container">
    <header th:replace="~{fragments::header}"></header>
    <main>
        <section>
            <h2>About Me</h2>
            <ul>
                <li>3년동안 Java/Spring 기반의 백엔드 서버 개발을 수행해 왔습니다.</li>
                <li>최근 1년간 Microservice를 Kubernetes 클러스터에 배포하는 경험을 쌓고 있습니다.</li>
                <li>문제를 해결하는 여러가지 방법 중, 현재의 상황에 맞는 해결책을 찾는 것을 중요하다고 여깁니다.</li>
                <li>규모가 큰 서비스를 위한 기술들을 학습하고 연습하는 과정에 있습니다.</li>
                <li>직관적인 서비스 로직을 위해 도메인을 중심으로 설계를 하는 것을 추구합니다.</li>
                <li>다른 생각을 가진 동료들과 토론을 통해 합리적인 방안을 도출하는 것에 능숙합니다.</li>
            </ul>

        </section>
        <section>
            <h2>Career</h2>
            <h4>티맥스 에이아이</h4>
            <p>연구원, 2022.01 ~</p>
            <h4>(주) CS<span>,제주</span></h4>
            <p>S/W Engineer, 2020.03 ~ 2021.11</p>
        </section>
        <section>
            <h2>What We Do</h2>
            <p>We offer a wide range of web development services, including:</p>
            <ul>
                <li>Web design</li>
                <li>Web development</li>
                <li>Web hosting</li>
                <li>Web maintenance</li>
                <li>Search engine optimization (SEO)</li>
            </ul>
            <p>We also offer a variety of custom web development services. If you have a specific need, we will work with you to create a solution that meets your requirements.</p>
        </section>
        <section>
            <h2>Additional Info</h2>
            <table>

                <tr>
                    <th><i class="fa fa-envelope"></i></th>
                    <td><a href="dboo.studio@example.com">dboo.studio@gmail.com</a></td>
                </tr>
                <tr>
                    <th>
                        <i class="fa-brands fa-square-github"></i>
                    </th>
                    <td><a href="https://github.com/dboostudio">github</a></td>
                </tr>
                <tr>
                    <th><i class="fa-solid fa-link"></i></th>
                    <td><a href="https://dboo.kr">dboo.kr</a></td>
                </tr>
                <tr>
                    <i class="fa-brands fa-linkedin"></i>
                    <td><a href="https://www.linkedin.com/in/%EB%8C%80%ED%99%98-%EB%B6%80-694b1922b/">Linked-in profile</a></td>
                </tr>
            </table>

        </section>
    </main>


    <footer th:replace="~{fragments::footer}"></footer>
</div>

</body>
</html>