<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments::head}"></head>
<link rel="stylesheet" th:href="@{/css/sign-up.css}">


<body>
<div class="container">
    <header th:replace="~{fragments::header}"></header>

    <main>
        <section>
            <input id="email" type="text" placeholder="이메일" autofocus="autofocus">
            <input id="password" type="text" placeholder="비밀번호">
            <input id="lastName" type="text" placeholder="성">
            <input id="firstName" type="text" placeholder="이름">
            <input id="submit" type="submit" value="가입">
        </section>

    </main>

    <footer th:replace="~{fragments::footer}"></footer>
</div>


</body>
<script>

    let button = document.getElementById('submit');
    button.addEventListener("click", onSubmitClick);

    let passwordInput = document.getElementById('password');

    passwordInput.addEventListener("keyup", (event) => {
        if(event.key=="Enter"){
            onSubmitClick();
        }
    })

    function onSubmitClick() {
        button.removeEventListener("click", onSubmitClick);
        let data = {
            "email" : document.getElementById('email').value,
            "password" :document.getElementById('password').value,
            "firstName" :document.getElementById('firstName').value,
            "lastName" :document.getElementById('lastName').value
        }
        signUp(data).then(
            () => window.location.href = "/login"
        ).catch(
            () => button.addEventListener("click", onSubmitClick)
        );
    }
</script>
</html>