<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments::head}"></head>
<link rel="stylesheet" th:href="@{/css/visit.css}">

<body>

<div class="container">
    <header th:replace="~{fragments::header}"></header>

    <main>
        <section id="comments">
            <div id="form">
                <p>방명록 작성하기</p>
                <input type="text" id="name" placeholder="이름">
                <input type="email" id="email" placeholder="이메일">
                <textarea id="comment" rows="10" cols="50" placeholder="코멘트"></textarea>
                <input id="submit" type="submit" value="남기기!"> </input>
            </div>
        </section>
        <section id="showcase" th:each="comment, iter : ${comments}">
            <h2 th:if="${iter.index}==0">방명록</h2>
            <h3 th:text="${comment.name}"></h3>
            <p id="comment-text" th:text="${comment.comment}"></p>
        </section>
    </main>

    <footer th:replace="~{fragments::footer}"></footer>
</div>
</body>

<script>
    let button = document.getElementById('submit');
    button.addEventListener("click", saveComment);

    function saveComment() {
        button.removeEventListener("click", saveComment);
        let uri = '/api/comment';
        let name = document.getElementById('name').value;
        let email = document.getElementById('email').value;
        let comment = document.getElementById('comment').value;
        let data = {
            'name' : name,
            'email' : email,
            'comment' : comment
        };

        postData(uri, data)
        .then(() => {
            window.location.reload();
        }).catch(() =>{
            button.addEventListener("click", saveComment)
        });

    }


</script>
</html>

