<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments::head}"></head>

<body>

<div class="container">
    <header th:replace="~{fragments::header}"></header>

    <main>
        <!-- Comments Page -->
        <section id="comments">
            <h2>방명록 남기기</h2>
            <div id="form">
                <input type="text" id="name" placeholder="이름">
                <input type="email" id="email" placeholder="이메일">
                <textarea id="comment" rows="10" cols="50" placeholder="코멘트"></textarea>
                <input id="submit" type="submit" value="남기기!"> </input>
            </div>
            <h2>방명록</h2>
            <p>This is a section where visitors can leave comments about our website.</p>
            <section th:each="comment : ${comments}">
                <h3 th:text="${comment.name}"></h3>
                <p th:text="${comment.comment}"></p>
            </section>

        </section>
    </main>

    <footer th:replace="~{fragments::footer}"></footer>
</div>
</body>

<script>
    let button = document.getElementById('submit');
    button.addEventListener("click", saveComment);

    function saveComment() {
        let uri = '/api/v1/comment';
        let name = document.getElementById('name').value;
        let email = document.getElementById('email').value;
        let comment = document.getElementById('comment').value;
        let data = {
            'name' : name,
            'email' : email,
            'comment' : comment
        };
        postData(uri, data)
        .then(() => {
            document.location.href=baseurl+"/visit";
        });
        return false;
    }


</script>
</html>

